.information .container-fluid .row .box2>div>span:first-child{
    color: #48c7ec;
}
.fix{
    border: 2px solid #48c7ec;
    color: #48c7ec;
}
.fix:hover{
    background-color: #ff7300;
}
.navbar ul li a{
    color: #48c7ec !important;
}
.navbar ul li.select{
    background-color: #48c7ec;
}
.navbar ul li:hover >a{
    background-color: #48c7ec;
}
.navbar ul li div>a:hover{
    background-color: #48c7ec;
}
.navbar-toggler{
    background-color: #48c7ec !important;
}
.carousel-caption>.link a:first-child{
    background-color: #48c7ec !important;
    border: 2px solid #48c7ec !important;
}
.carousel-caption>.link a:last-child:hover{
    border: 2px solid #48c7ec !important;
    background-color: #48c7ec;
}
.carousel-caption>.link a:first-child:hover{
    border: 2px solid #48c7ec;
    color:#48c7ec !important ;
}
.about .container p{
    color: #48c7ec;
}
.about .container-fluid .row>div .second .one{
    background-color: #48c7ec;
}
.about .container-fluid .row>div .second .two a{
    background-color: #48c7ec;
}
.service .info .first .one div>p{
    color: #48c7ec;
}
.service .info .first .two div:first-child{
    color: #48c7ec;
}
.service .info .second>div>div div{
    color: #48c7ec;
}
.service .second .container .row>div .box .circle-box-inner{
    border: 2px solid #48c7ec;
}
.service .second .container .row>div .box .circle-box-inner div{
    background-color: #48c7ec;
}
.service .second .container .row>div .box h4{
    color: #48c7ec;
}
.projects .one .container p{
    color: #48c7ec;
}
.projects .two .container div button.active{
    border-bottom: 2px solid #48c7ec;
    color: #48c7ec;
}
.projects .three .container .row>div>div .first>div{
    background-color: rgba(72, 199, 236,0.7);
}
.projects .three .container .row>div>div .second p{
    color: #48c7ec;
}
.projects>.four .head .container p{
    color: #48c7ec;
}
.projects .four .numbers .container .row>div div{
    color: #48c7ec;
}
.projects .four .shadow{
    background-color: rgba(72, 199, 236,0.7);
}
.blog .first .container p{
    color: #48c7ec;
}
.blog .second .container .row .item>div:hover h3{
    color: #48c7ec;
}
.blog .second .container .row .item>div .two div:first-child a:hover{
    color: #48c7ec;
}
.owl-theme .owl-dots .owl-dot.active span{
    background-color: #48c7ec !important;
}
.owl-theme .owl-dots .owl-dot span:hover{
    background-color: #48c7ec;
}
.gallery .first .container p{
    color: #48c7ec;
}
.gallery .second .container .row>div div .updown>div{
    background-color: rgba(72, 199, 236,0.7);
}
.contact-us .first .container .row>.one div:nth-of-type(2) i,
.contact-us .first .container .row>.one div:nth-of-type(3) i,
.contact-us .first .container .row>.one div:nth-of-type(4) i{
    color: #48c7ec;
}
.contact-us .first .container .row>.two div:hover{
    color: #48c7ec;
}
.contact-us .first .container .row>.four form input:last-child{
    border: 2px solid #48c7ec;
    background-color: #48c7ec;
}
.contact-us .first .container .row>.four form input:last-child:hover{
    color: #48c7ec;
}
.contact-us .second .container a{
    color: #48c7ec;
}
.welcome::before{
    background-color: rgba(72, 199, 236,0.7);
}
.welcome .container div:last-child a:hover{
    color: #48c7ec;
}
.who-we-are .first .container p{
    color: #48c7ec;
}
.who-we-are .second .container .row>div .box div a{
    color: #48c7ec;
}
.who-we-are .third .container .row .one>div div{
    background-color: rgba(72, 199, 236,0.7)
}
.who-we-are .third .container .row .one>div div a{
    color: #48c7ec;
}
.who-we-are .third .container .row .two .first .container p{
    color: #48c7ec;
}
.process .first .container p{
    color: #48c7ec;
}
.process .second .container .row>div .box h4:hover{
    color: #48c7ec;
}
.process .second .container .row>div .box:hover .circle-box-inner{
    border: 2px solid #48c7ec;
}
.process .second .container .row>div .box:hover .circle-box-inner div{
    background-color: #48c7ec;
}
.team .first .container p{
    color: #48c7ec;
}
.team .second .container .row>div .box .one .links ul li a:hover{
    background-color: #48c7ec;
}
.team .second .container .row>div .box .two p{
    color: #48c7ec;
}
.request{
    background-color: #48c7ec;
}
.request .container .box .two a:hover{
    color: #48c7ec;
}
.faQ .container .row .two .box form input[type="submit"]{
    background-color: #48c7ec;
}
.all-services .first .container p{
    color: #48c7ec;
}
.all-services .second .container .row>div .box .hidden{
    background-color: rgba(72, 199, 236,0.7);
}
.all-services .second .container .row>div .box .hidden::before{
    background-color: rgba(72, 199, 236,0.7);
}
.all-services .second .container .row>div .box .hidden .link a{
    background-color: #48c7ec;
}
.all-services .second .container .row>div .box .two{
    border-top: 2px solid #48c7ec;
}
.all-services .second .container .row>div .box .two div{
    background-color: #48c7ec;
}
.blog-grid .row>div .box:hover .inner-box{
    border: 1px solid #48c7ec;
}
.blog-grid .row>div .box:hover .inner-box h3{
    color: #48c7ec;
}
.blog-grid .row>div .box .inner-box .three div a:hover{
    color: #48c7ec;
}
.gallery-single .first .container p{
    color: #48c7ec;
}
.gallery-single .second .container .row>div div .updown>div{
    background-color: rgba(72, 199, 236,0.7);
}
.gallery-single .second .container .row>div div .expand{
    color: #48c7ec;
}
.project-finance .row .one .box div span:first-child{
    color: #48c7ec;
}
.project-finance .row .two .box p:nth-of-type(1){
    color: #48c7ec;
}
.project-finance .row .two .box a:hover{
    background-color: #48c7ec;
}
.project-analysis .row .two .box p:nth-of-type(3){
    background-color: #48c7ec;
}
.project-result .row .two .box p:nth-of-type(2){
    background-color: #48c7ec;
}
.contact-box .row .one .box p:nth-of-type(1){
    color: #48c7ec;
}
.contact-box .row .one .box form .submit input{
    background-color: #48c7ec;
}
.contact-box .row .two .box>div>div div:nth-of-type(1){
    color: #48c7ec;
}